/* Common */

body{
    margin: 0;
}

ul, li{
    padding: 0;
    margin: 0;
    display: inline;
}

a{
    color:black;
    text-decoration: none;
}


/* /Common */

/* hover */

a:hover{
    color:grey;  
}

.btn:hover{
    background-color: rgb(70, 70, 70);
    border-color: rgb(70, 70, 70);
}

.depiction a:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
/* //hover */


.section-header{
    color:black;
    background: url(../img/main.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.section-inner{
    height: 100vh;
}

.menu{
    padding: 2% 0 0 4%;
}

.logo{
    font-family: 'Poiret One';
    font-weight: 100;
    font-size: 30px;
    width: max-content;
    display: inline;
}

.navigator{
    margin-left: 240px;
}

.navigator-item{
    margin-right: 20px;
    font-family: 'Poiret One';
    font-size: 20px;
}

.btn{
    text-align: center;
    white-space: space nowrap;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    border-color:black;
    background-color:black;
    color:white;
    margin-left: 15%;
}

.main-description{
    margin-left: 25.5vw;
    margin-top: 25vh;
}

.text{
    font-family: 'Poiret One';
    font-size: 8vh;
}

.sub-text{
    font-family: 'Poiret One';
    font-size: 5vh;
}


/* 2 page */

.title{
    padding-top:50px;
    text-align: center;
    margin-bottom: 90px;
}

.name-labs{
    font-family: 'Poiret One';
    font-size: 28pt;
    font-weight: 600;
}

.purpose{
    font-family: 'Poiret One';
    font-size: 24pt;
}

.group-depiction{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.depiction{
    align-self: center;
    text-align: center;
    /* max-width: 380px; */
}

.depiction-title{
    font-family: 'Poiret One';
    font-size: 20pt;
}

.depiction-subtitle{
    font-family: 'Poiret One';
    font-size: 16pt;
    color: rgb(124, 124, 124); 
    margin-bottom: 40px;
}

.depiction a{
    border: 0 none;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}

/* 3 page */

#lab2{
    background-color: rgb(243,244,249);
}

/* 4 page */



/* last page */

#questions{
    background-color: rgb(243,244,249);
}

/* footer */

.footer-inner{
    align-self: center;
    text-align: center;
    padding: 40px 40px 20px 40px;
    background-color: black
}

.footer-link{
    color: white;
    font-size: 18px;
}

.copyright{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    color:white;
    font-family: 'Poiret One';
}

.stankin{
    text-align: left;
}

.author{
    text-align: right;
}